In [1]:
import numpy as np
import pandas as pd

In [2]:
rating_df = pd.read_csv('data/events_small.csv')
rating_df.head()

       timestamp  visitorid event  itemid  transactionid
0  1433221373311     781127  view   21989            NaN
1  1433222147345     781127  view  262799            NaN
2  1433221380636     849453  view  123990            NaN
3  1433223176926     629333  view  128394            NaN
4  1433222897013     629333  view  279976            NaN

In [3]:
# get the number of interactions for each user
rating_df['event_count'] = rating_df['visitorid'].map(rating_df.visitorid.value_counts())
rating_df.head()

       timestamp  visitorid event  itemid  transactionid  event_count
0  1433221373311     781127  view   21989            NaN            2
1  1433222147345     781127  view  262799            NaN            2
2  1433221380636     849453  view  123990            NaN            1
3  1433223176926     629333  view  128394            NaN            3
4  1433222897013     629333  view  279976            NaN            3

In [4]:
#try
#rating_df['visitorid'].map(lambda x: x)
#rating_df.visitorid.value_counts()

In [5]:
# sort data frame by timestemp for trian/ val split
rating_df = rating_df.sort_values('timestamp')
rating_df.head(10)

       timestamp  visitorid event  itemid  transactionid  event_count
8  1433191760912     820159  view  189563            NaN            2
7  1433193703544     820159  view  261793            NaN            2
6  1433193877348      73449  view   54008            NaN            1
5  1433194739377     629333  view  336552            NaN            3
0  1433221373311     781127  view   21989            NaN            2
2  1433221380636     849453  view  123990            NaN            1
1  1433222147345     781127  view  262799            NaN            2
4  1433222897013     629333  view  279976            NaN            3
3  1433223176926     629333  view  128394            NaN            3

In [6]:
# map user id and movie id to integer starting from 0 to N (num of users) and M (num of items)
from sklearn.preprocessing import LabelEncoder
user_encoder = LabelEncoder()
item_encoder = LabelEncoder()

#re-assign the number of visitorid
rating_df['visitorid'] = user_encoder.fit_transform(rating_df.visitorid)
rating_df['itemid'] = item_encoder.fit_transform(rating_df.itemid)

In [7]:
#add 1 for starting from 0
num_users = rating_df.visitorid.max()+1
num_items = rating_df.itemid.max()+1
num_users, num_items

(5, 9)

In [8]:
# group by visitorid and call "rank" to know the number of click for that user. We set ascending=false so that the
# last click has appearance = 1

rating_df['appearance'] = rating_df.groupby('visitorid').timestamp.rank(ascending=False)
rating_df.head(15)

,timestamp,visitorid,event,itemid,transactionid,event_count,appearance
8,1433191760912,3,view,4,NaN,2,2.0
7,1433193703544,3,view,5,NaN,2,1.0
6,1433193877348,0,view,1,NaN,1,1.0
5,1433194739377,1,view,8,NaN,3,3.0
0,1433221373311,2,view,0,NaN,2,2.0
2,1433221380636,4,view,2,NaN,1,1.0
1,1433222147345,2,view,6,NaN,2,1.0
4,1433222897013,1,view,7,NaN,3,2.0
3,1433223176926,1,view,3,NaN,3,1.0

In [9]:
# train / val split
train_df = rating_df.loc[rating_df.appearance>1]
val_df = rating_df.loc[rating_df.appearance==1]
train_df.shape, val_df.shape

((4, 7), (5, 7))

In [10]:
#keep the first row as default 
train_df.drop_duplicates(['visitorid','itemid'],inplace=True)
train_df

C:\Users\gpu\.conda\envs\project-591\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,timestamp,visitorid,event,itemid,transactionid,event_count,appearance
8,1433191760912,3,view,4,NaN,2,2.0
5,1433194739377,1,view,8,NaN,3,3.0
0,1433221373311,2,view,0,NaN,2,2.0
4,1433222897013,1,view,7,NaN,3,2.0

In [11]:
val_df

,timestamp,visitorid,event,itemid,transactionid,event_count,appearance
7,1433193703544,3,view,5,NaN,2,1.0
6,1433193877348,0,view,1,NaN,1,1.0
2,1433221380636,4,view,2,NaN,1,1.0
1,1433222147345,2,view,6,NaN,2,1.0
3,1433223176926,1,view,3,NaN,3,1.0

In [12]:
#check MRR
def mean_reciprocal_rank(rs):
    rs = (np.asarray(r).nonzero()[0] for r in rs)
    return np.mean([1. / (r[0] + 1) if r.size else 0. for r in rs])

In [28]:
counts = np.zeros(num_items)
item2counts = train_df.itemid.value_counts()
counts[item2counts.keys()] = item2counts.values
counts

array([1., 0., 0., 0., 1., 0., 0., 1., 1.])

In [29]:
#try
#item2counts = train_df.itemid.value_counts()
#item2counts.keys()

In [30]:
#try
# argsort: ascending value and show its index
# flip: reverse np.array
#np.flip(np.argsort(counts))

array([8, 7, 4, 0, 6, 5, 3, 2, 1], dtype=int64)

In [38]:
hits = []
rankings = np.flip(np.argsort(counts))
for val_gt in val_df.itemid.values:
    hits.append(rankings == val_gt)
mean_reciprocal_rank(hits)

0.14912698412698414

In [42]:
hits

[array([False, False, False, False, False,  True, False, False, False]),
 array([False, False, False, False, False, False, False, False,  True]),
 array([False, False, False, False, False, False, False,  True, False]),
 array([False, False, False, False,  True, False, False, False, False]),
 array([False, False, False, False, False, False,  True, False, False])]

In [33]:
val_df

,timestamp,visitorid,event,itemid,transactionid,event_count,appearance
7,1433193703544,3,view,5,NaN,2,1.0
6,1433193877348,0,view,1,NaN,1,1.0
2,1433221380636,4,view,2,NaN,1,1.0
1,1433222147345,2,view,6,NaN,2,1.0
3,1433223176926,1,view,3,NaN,3,1.0

In [220]:
rankings

array([8, 7, 6, 5, 4, 3, 0, 2, 1], dtype=int64)

In [35]:
#try
#for val_gt in val_df.itemid.values:
#    print(val_gt)

In [41]:
#try
#rankings==5