In [1]:
import pymysql
import pandas as pd

In [4]:
db = pymysql.connect("mysql","root","1234","ntuhs" )
cursor = db.cursor()

In [5]:
#title counting of period of time 
sql = "select title, sum(cnt) as cnt from (\
           select distinct emp_no, title, 1 as cnt from (\
               select * from ntuhs.titles\
               where from_date < '1986-07-01' and to_date > '1986-07-01'\
           ) a\
       ) b\
       group by title"

In [6]:
cursor.execute(sql)
df = pd.DataFrame(cursor.fetchall())

#rename column
df = df.rename(columns={0: "title", 1: "count"})

In [7]:
df

                title count
0  Assistant Engineer     6
1            Engineer    16
2     Senior Engineer     7
3        Senior Staff     2
4               Staff    19
5    Technique Leader     6

In [8]:
df.to_csv('title_count.csv', index=False)

In [9]:
cursor.close()
db.close()