In [7]:
!pip install pymysql
import pymysql

Requirement already satisfied: pymysql in /opt/conda/lib/python3.8/site-packages (0.10.1)

In [5]:
db = pymysql.connect("mysql","root","1234","ntuhs" )

In [10]:
cursor = db.cursor()
cursor.execute("show tables;")

6

In [12]:
data = cursor.fetchall()
data

(('dept_emp',), ('dept_manager',), ('employees',), ('salaries',), ('titles',))

In [13]:
cursor.close()
db.close()